<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Добавить пользователя</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Добавить пользователя</h2>-->
<!--<div>-->
<!--    <form th:action="@{add}"-->
<!--          th:object="${user}"-->
<!--          th:method="post">-->
<!--        <fieldset>-->
<!--            <legend>Данные пользователя</legend>-->
<!--            <p>-->
<!--                <label th:for="username">Логин-->
<!--                    <input type="text"-->
<!--                           name="username"-->
<!--                           th:id="username">-->
<!--                </label>-->
<!--                <br/>-->
<!--                <label th:for="password">Пароль-->
<!--                    <input type="text"-->
<!--                           name="password"-->
<!--                           th:id="password">-->
<!--                </label>-->
<!--                <br/>-->
<!--                <label th:for="surname">Фамилия-->
<!--                    <input type="text"-->
<!--                           name="surname"-->
<!--                           th:id="surname">-->
<!--                </label>-->
<!--                <br/>-->
<!--                <label>-->
<!--                    <input type="checkbox"-->
<!--                           name="roles"-->
<!--                           th:each="role : ${roless}"-->
<!--                           th:value="${role.getName()}"-->
<!--                           th:text="${role.name}"-->
<!--                    >-->
<!--                </label>-->
<!--            </p>-->
<!--        </fieldset>-->
<!--        <button type="submit">Сохранить пользователя</button>-->
<!--    </form>-->
<!--    <br/>-->
<!--    <form th:action="@{/admin/all}">-->
<!--        <button type="submit">Назад к списку пользователей</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->